body, html {
    margin: 0; /* Reset margin */
    padding: 0; /* Reset padding */
}

.header{
    background-color: black;   
    border-width: 100vw;
    height:177px;
}

.header1{
    background-color: #012345;
    color: white;
    height:46px;
}

.header1-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.address-and-phone{
    padding:0.5 0;
    line-height: 1.5rem;
    font-size: 24px;

}


.min-100-vh {
    min-height: 100vh;
}

.link-container{
    display:flex; /*give links space in header container*/   
    
}

.link {
    margin-right: 20px; /* Add space between links */
}



