body,
html {
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 1.5rem;
    scrollbar-gutter: stable;

}

:root{
    --maincolor: #e95918;
    --subcolor: rgba(182, 92, 76, 0.585);
    --bluecolor: blue;
}


.maincolor{
    color:var(--maincolor)
}

.parkinsans {
    font-family: "Parkinsans", serif;
    font-optical-sizing: auto;
    font-weight: light 300;
    font-style: normal;
}

.montserrat-underline {
    font-family: "Montserrat Underline", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

::-webkit-scrollbar {
    background: hsla(0, 0%, 50%, .251);
    height: 100%;
    scroll-behavior: smooth;
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: var(--maincolor);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--subcolor);
}


/* background video */
.app {
    width: 100%;
    box-sizing: border-box;
    position: relative;
}

.overflownone{
    overflow: hidden;
}

.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    pointer-events: none;
    filter: brightness(92%);
    
}

.content-container {
    position: relative;
    z-index: 1;
}

.flex1 {
    flex: 1;
}

.flex-middle {
    display: flex;
    justify-content: center;
}

.flex {
    display: flex;
    justify-content: center;
}

.flexcenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexcolumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nostyle {
    list-style: none;
    text-decoration: none;
    color: black;
}

.noclick {
    pointer-events: none;
}


/* header  */
.header {
    background-color: rgb(255, 255, 255);
    height: 100%;
    min-width: 100%;
    width: 100%;
}

.header1 {
    background-color: #e95918;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 0.5rem 0;
}

.bottomnavbarcontainer {
    display: flex;
    justify-content: space-around;
}

.fixedheader{
    position:fixed;
    top:0;
    left:0;
    right:0;
    background:white;
    border-bottom:2px solid var(--maincolor) ;
    z-index:5;
    height: 80px;
    will-change: transform;
    backface-visibility: hidden;
}
.fixedheader img{
    height:100%;
    padding:0;
}

.footer {
    width: 100%;
    height: 500px;
    background-color: rgb(0, 0, 0);
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    color: white;
    border-bottom: 3px solid var(--maincolor);
}

.footer-width {
    width: 1020px;
}

.footer-columns {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    gap: 30px;
}

/* Add these new classes for each column */
.footer-column {
    flex: 1;
    min-width: 250px;
}

.input-group {
    border: 1px solid #ced4da;
    height: 50px;
    width: 100%;
}

.rmi-form {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    width: 450px;
}

.rmi-form_grouped_fields {
    align-items: center;
    display: flex;
    gap: 15px;
    justify-content: center;
}

.rmi-form_ask_footer {
    height: 135px;
    border: 1px solid #ced4da;
    resize: none;
    width: 100%;
    padding: 10px 0 0 10px;
    box-sizing: border-box;
}

.rmi-form_button {
    height: 55px;
    width: 100%;
    color: white;
    background-color: var(--maincolor);
    border: 2px solid var(--maincolor);
}

.rmi-form_button:hover {
    background-color: black;
}

.hoo-ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    list-style: none;
    font-size: 18px;
    max-width: 300px;
    padding: 0;
}

.hoo-li {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
}


.contactinfo-container {
    font-size: 20px;
}



.NAAN-AUTO_font {
    font-size: 50px;
    color: white;
}

.NAAN-AUTO_font:hover {
    color: var(--maincolor)
}

.NAAN-AUTO_font_link {
    text-decoration: none;
}

.hr1 {
    background-color: var(--maincolor);
    margin: 0;
    width: 40px;
    height: 2px;
    border: none;
    margin-bottom: 15px;
}

.contactinfo_push {
    padding-bottom: 20px;
}

.contact-info_text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: start;
}

.contact-info_icon {
    width: 24px;
    height: 24px;
}

.contact-info_flex {
    display: flex;
    gap: 10px
}

.footer-headers {
    text-align: start;
}

.bottom-border-container{
    width:100%;
    height:100px;
    background-color: black;
    display:flex;
    justify-content:space-around;
    align-items: center;
    color: white;
}

.bottom-border-container div{
    color:white;
}

.bottom-border-container div:hover{
    color: var(--maincolor);
}


.outlet {
    padding-bottom: 200px
}

.carlogo {
    height: 130px;
    width: 100%;
    padding:10px;
    border-radius: 15px;
}

.address-and-phone {
    line-height: 1.5rem;
    font-size: 24px;
    color: rgb(255, 255, 255);
}

.address-and-phone:hover{
    color:black;
}

.fabook{
    color:white;
    text-decoration: none;
}

.fabook:hover{
    color:black;
}

.newsreader {
    font-family: "Newsreader", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}


.link-container {
    display: inline-flex;
    align-items: center;
    padding-bottom: 40px;
    padding-top: 40px;
    font-size: 19px;
}

.link {
    margin-right: 20px;
    text-decoration: none;
    color: #000000;
    background-color: #0000000a;
    padding:10px;
    border-radius: 19px;
}

.svg {
    display: flex;
    align-items: center;
    height: 40px;
    width: 40px
}

.dropdown:hover .svg {
    transform: rotate(-90deg);
    transition: .2s ease-in-out;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    height: 40px;
    min-width: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
}

.orangebottom {
    border-bottom: 2px solid var(--maincolor);
    padding-bottom: 50px;
    color: var(--maincolor);
}


p.orangebottom:hover {
    border-bottom: 2px var(--maincolor);
}

.mobiletab{
    display: none;
    justify-self: center;
    width:40px;
    height:40px;
    z-index: 5;
}

.hamburger{
    display: inline-block;
    position: absolute;
    width:40px;
    height:7px;
    background-color:var(--maincolor);
    border-radius: 10px;
    margin-top: 20px;
}

.mobiletab .hamburger:nth-child(1){
    transform: translateY(-10px);
}

.mobiletab .hamburger:nth-child(3){
    transform: translateY(10px);
}

.mobiletab.active > :nth-child(2),
.mobiletab.active > :nth-child(1) {
    transform: rotate(45deg);
    transition: ease-in-out .5s;
}

.mobiletab.active > :nth-child(3){
    transform: rotate(-45deg);
    transition:ease-in-out .5s;
}

.mobiletab > span {
    transition: transform 0.3s ease;
}

.mobiletab.active .navtab{
    transform: translateX(1%);
    transition: ease-in-out .5s;
}

.navtab{
    position:absolute;
    height:100vh;
    width:70%;
    top:0;
    right:0;
    background-color: white;
    overflow-y: hidden;
    z-index: -1;
    transform: translateX(100%);
    transition: ease-out .3s;
    overflow: hidden;
}

.navtab ul{
    position: absolute;
    top:200px;
    color: black;
}

.navtab li{
    font-size: 30px;
    line-height: 45px;
}

.urltrue{
    color:var(--maincolor);
    border-bottom: 2.5px solid var(--maincolor);
}


/* header */


.test {
    display: flex;
    justify-content: center;
}

/* invId img slider */
.slideshow-container {
    width: 100%;  
    aspect-ratio: 4 / 3;
    overflow: hidden;
    position: relative;
    object-fit: fill;
}

.slide-wrapper1 {
    display: flex;
    width: 100%;
}

.slide-wrapper img {
    width: 100%;
    height: 100%;
    flex-shrink: 0;

}

.center {
    display: flex;
    justify-content: center;
    position: relative;
}

.center-dup {
    display: flex;
    justify-content: center;
    position: relative;
}

.slider-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 50%;

}

.slider-button.left {
    left: 10px
}

.slider-button.right {
    right: 10px;
}

.pause-btn{
    position: absolute;
    bottom:0;
    margin: 20px;
    width:40px
}



.dragbuttons-container {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    border: none;
    cursor: pointer;
    z-index: 1;
    display: flex;
    justify-content: center;
    gap: 4px;
    padding: 10px
}

.drag-btn {
    all: unset;
    background: none;
    border: none;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    ;
    height: 10px;
    width: 10px;
}

.drag-btn-active {
    background-color: var(--maincolor);
}


/* invdId img slider */

/* invId  */
.car-inv {
    width: 120px;
    font-size: 20px;
    padding-left: 5px;
}

.car-inv-header {
    font-size: 15px;
    font-weight: 500;

}

.car-inv-bttm-border {
    border-bottom: 2px solid var(--maincolor);
    padding-bottom: 5px;
    width: 25px
}

.picture-container {
    margin-right: 20px;
    margin-bottom: 20px;
    border-style: solid;
    border-radius: 10px;
    border-width: 30px;
    border-color: #fffffffd;
}



.stickyheadertopspaceundertabletvw{
    margin-top:37vh;
}

.stickyheadertopspaceovertabletvw{
    margin-top:15vh;
}

.center-container {
    display: flex;
    justify-content: center;
}

.picture-list {
    background-color: #f4f4f4;
    text-align: center;
    transition: transform 0.4s ease-in-out;
    will-change: transform;
}

.img-wrapper{
    width: max-content;
}

.mini-picture-spacing {
    margin: 8px;
    cursor: pointer;
}

.mini-picture-spacing.active{
    border: 1px solid var(--maincolor);
    box-shadow: 5px 5px 10px
}



.car-info {
    background-color: #fffffffd;
    border-radius: 10px;
    width: calc(100% - 20px);
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 15px;
}



.sticky-buttons {
    position: sticky;
    top: 130px;
}

.vehicle-info-rows {
    padding: 0 0 0 20px
}

.vehicle-info-flex {
    display: flex;
    flex-direction: column;
}

.info-bg {
    background-image: linear-gradient(to right, rgb(235, 222, 222), var(--maincolor));
    border-radius: 10px;
    height: 100px;
    width: 150px;
    box-sizing: border-box;
    word-wrap: break-word;
}

.info-bg:hover {
    box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.331);
    transform: translateY(-5px);
    transition: ease-in-out .4s;
}



.rel-50 {
    position: relative;
    left: 45%;

}




.title-bg {
    background-color: var(--maincolor);
    width: 60%;
    border-radius: 10px 3px 3px 3px;
    padding: 5px 10px 0 5px;
    color:white;
}


.info-bg-flex {
    justify-content: center;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.flex-col-gap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px
}


.btn-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
}


.btn-list button {
    height: 70px;
    width: 400px;
    margin: 10px;
    font-size: 16px;
    border-radius: 9px;
    background: -webkit-linear-gradient(var(--subcolor),var(--maincolor));
    border: none;
    color: white
}

.btn-list a,
.btn-list Link {
    text-decoration: none;
}

.btn-list button:hover {
    background-color: #000000;
    border-color: var(--maincolor);
    color: white;
}

.vehicle-info-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-style: solid;
    border-color: #fffffffd;
    border-radius: 18px;
    background-color: #fffffffd;
    font-size: 35px;
    padding: 15px;
    margin: 30px auto;
    width: 100%;
    line-height: 1.5rem;
    z-index: 1; 
    box-sizing: border-box;
}

.position-fixed{
    position:fixed;
    top:0;
    left:0;
    margin:0;
    border-radius:0;
    padding:0;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.189);
}

.fixedinfo-invid{
    top:70px;
    height:80px;
}

.carlogoheight{

}

.car-details-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    overflow:visible;
}

.info-top-left {
    padding-left: 20px;
}

.info-top-right {
    padding-right:20px
} 

.car-description {
    border-bottom: 2px black solid;
    margin-bottom: 15px;
    display: block;
    color: var(--maincolor);
    text-shadow: 1px 1px black;
}

.rel-car-title{
    position: relative;
    left: 80%;
    bottom:37px
}

.contact-widget-bg{
    width:100%;
    height:275px;
    background-color:white;
    border-radius: 10px;
    padding:50px;
    box-sizing: border-box;
    gap:10px;
}

.naanautowidget{
    font-size: 50px;
}

.naanautowidgetphone{
    font-size: 35px;
    padding:10px;
    background: -webkit-linear-gradient(rgba(244, 228, 197, 0.585),var(--maincolor));
    border-radius: 10px;
}

.naanautowidgetaddress{
    font-size: 23px;
    text-align: center;
}

.description-box {
    background-color: #fffffffd;
    margin-right: 15px;
    padding: 25px;
    border-radius: 20px;
}



.google-api {
    height: 500px;
    background-color: #ffffff;
    margin-right: 15px;
    border: solid;
    border-color: #ffffff;
    border-width: 30px;
    border-radius: 15px;
    margin-top: 20px;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 340px);
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.card {
    height: 100%;
    max-height: 600px;
    width: 340px;
    background: white;
    overflow: hidden;
    padding-bottom: 30px;
}

.card-img {
    width: 100%;
    height: 100%;
    min-height: 300px;
}

.satisfy-regular {
    font-family: "Satisfy", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    /* -webkit-text-stroke-width: px;
    -webkit-text-stroke-color: orange; */
}

.favicon {
    height: 25px;
    width: 25px;
}

.list-style {
    list-style-type: none;
    padding-top: 10px;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.list-style li {
    display: flex;
    align-items: center;
    transform: translateY(-50%);
}

.short-info {
    padding-left: 5px;
}

.title-price-holder {
    background-color: hsla(0, 0%, 93%, .631);
    padding: 7px 20px;
}

.price-holder {
    display: flex;
    justify-content: space-between;

}

.space {
    margin-top: 20px;
    margin-bottom: 100px;
}


/* log in page */

.log-in_container {
    display: grid;
    justify-content: center;
   
    margin-top: 200px;
    margin-bottom: 200px;
}

.log-in_form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 500px;
    background-color: white;
    border: 20px solid white;
    border-radius: 20px;
}

.log-in_input {
    height: 20px;
    width: 100%;
    border: 1px solid #ced4da;
}

.log-in_button {
    height: 55px;
    width: 100%;
    color: white;
    background-color: var(--maincolor);
    border: 2px solid var(--maincolor);
}

.log-in_button:hover {
    background-color: black;
}

/* log in page */


/* Contact us page */

/* straight forward naming to push the footer down */
.push {
    overflow: hidden;
}

.scenerybackground {
    background: url('./assets/rowancomp.webp');
    height: 350px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-position: center 80%;

}

.contact-us_header {
    background: white;
    width: 500px;
    flex: 1;
    line-height: 50px;
}

.contact-us_header_font {
    font-size: 45px;
}

.contact-us {
    padding: 0 10px 0 20px;
}

.contact-us_description_font {
    font-size: 27px;
    padding: 0 10px 0px 20px
}

.contact-us_form_container {
    background: white;
    border: 40px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid #ced4da;

}

.contact-us_form_form {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    width: 100%;
    padding-left: 60px;
    padding-right: 10px;
    padding-top: 100px;
    gap: 20px;

}

.contact-us_form_group {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
}



.contact-us_form_naming {
    font-size: 30px;
    padding-bottom: 30px;

}

.contact-us_form_size {
    height: 100px;
    font-size: 35px;
    border: 1px solid #ced4da;
    border-radius: 60px;
    width: 100%;
    box-sizing: border-box;
}





.contact-us_form_textarea {
    height: 400px;
    font-size: 35px;
    border: 1px solid #ced4da;
    border-radius: 60px;
    padding: 30px 0 0 30px;
    width: 100%;
    box-sizing: border-box;
}



.contact-us_form_button {
    height: 60px;
    border: 2px solid var(--maincolor);
    background-color: var(--maincolor);
    border-radius: 20px;
}

.contact-us_form_button:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0)
}

.contact-us_tops_section {
    display: flex;

}

.contact-us_bottom_section {
    display: flex;

}

.hr2 {
    border: 1px solid var(--maincolor);
}


.dealer-information {
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    margin: 10px;
    min-width: 350px;
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.googleapi2 {
    width: 100%;
    border: 40px solid white;
    border-radius: 20px;
    margin: 10px;
    flex: 2;
}

.size {
    width: 100%;
    height: 100%;
}

.contact-us_company_info {
    display: flex;
    flex-direction: column;
}

.contact-us_opening_hours {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 350px;
}

.contact-us_opening_hours_spacing {
    display: flex;
    justify-content: space-between;
}

.contact-us_font {
    font-size: 20px;
}

.peopletalkingif {
    height: 500px;
    width: 500px;
}


/* Searchfilter */
.search_filter__background {
    background: white;
    border: 20px solid white;
    border-radius: 8px;
}

.advanced-filters__column {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.search_filter__form {
    width: 400px;
}

.search_filter__group {
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

.search-filter__style {
    height: 30px;
    border-radius: 7px;
    border: 1px solid #99a5b1;
    width:100%;
}

.search-filter__div {}

/* adminDashboard */


.container-dashboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: start;
    align-items: start;
    gap: 9px;

}

.admin-dashboard___input {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100%;
}

.admin-dashboard__imgscrollbar {
    display: flex;
    overflow-x: scroll;
    height: 120px;
    gap: 8px;
    scrollbar-width: thin;
    background-color: #f5f5f5;
}

.admin-dashboard__imgscrollbar::-webkit-scrollbar {
    height: 8px;
}

.admin-dashboard__imgscrollbar::-webkit-scrollbar-thumb {
    background-color: #888;
}


.admin-dashboard__action-tab {
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.admin-dashboard__action-tab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

.admin-dashboard__action-tab button:hover {
    background-color: #ddd;
}

.admin-dashboard__action-tab button.active {
    background-color: #e0e0e0;
    color: #333;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}

.admin-dashboard__input-style {
    background: none;
    border: none;
    padding: 0 0 0 6px;
}

.admin-dashboard__slideshow-container {
    height: 300px;
    width: 340px;
    overflow: hidden;
    position: relative;
    background-color: #f5f5f5;
    /* light gray background */
}

.admin-dashboard__slideshow-container img {

    width: 100%;
    height: 100%;
    object-fit: contain;
}

.admin-dashboard__slideshow-container img {
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 0;
    margin-right: 0;

}

.admin-dashboard___btncontainer{
    display:flex;
    gap:5px;
    margin:10px;
}

.admin-dashboard___btn{
    all:unset;
    width:100%;
    height: 40px;
    background-color: var(--maincolor);
    text-align: center;
    border-radius: 10px;
}

.admin-dashboard___btntop{
    all:unset;
    text-align: center;
    margin: 10px 10px 0 10px;
    background-color: var(--maincolor);
    border-radius: 10px;
}

.admin-dashboard___btn:hover ,.admin-dashboard___btntop:hover{
    background-color: #bf8f59;
}

.slide-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
}

.spacing-left-right {
    margin-left: 30px;
    margin-right: 30px;
}

.spacing-top {
    margin-top: 25px
}

/* addCar page */


/* messages page */

.message__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    padding: 2rem;
    max-width: 700px;
    margin: 0 auto;
    max-width: 400px;
}

.message__background {
    width: 100%;
    background-color: white;
    border: 30px solid white;
    border-radius: 10px;
    word-break: break-all;
}

.message__background:hover {
    box-shadow: 0 5px 10px hsla(0, 0%, 50%, .251);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    transform: translateY(-3px);

}

/* add Car component */

.addcar__parent-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;

}

.addcar__flex-direction {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.addcar__grid-container {
    display: grid;
    grid-template-columns: repeat(2, 200px);
}

.addcar__grid-col-start {
    grid-column: 1;
}


.addcar__desc-div {
    display: flex;
    flex-direction: column;
    transform: translateY(4px);
    width: 100%;
}

.addcar__description {
    border: var(--maincolor) solid 1px;
    border-radius: 6px;
    width: 400px;
    height: 400px;
    outline: none;
}

.addcar__button {
    width: inherit;
    height: 30px;
    border: none;
    border-radius: 20px;
    transform: translateY(6px);
}

.addcar__desc-div button:hover {
    background-color: var(--maincolor);
}

.addcar__desc-div textarea {
    padding: 10px 5px 0px 10px;
    line-height: 1.5;
    box-sizing: border-box;
}

.addcar__desc-div textarea::placeholder {
    padding: 0;
    line-height: 1.5;
}

input[type="file"] {
    max-width: 400px;
    padding: 8px;
    border: 2px solid #ccc;
    border-radius: 6px;
    background-color: #f9f9f9;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

input[type="file"]:hover {
    border-color: var(--maincolor);
}

.loading {
    position: absolute;
    top: 200px;
    z-index: 3;
    width: 800px;
    height: 800px
}

.blur {
    filter: blur(2px)
}


/* Optional: Style when the file input is focused */
input[type="file"]:focus {
    outline: none;
    border-color: #555;
    background-color: #fff;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.addcar__file {
    border: none;
}


/* floating label start */
.custom-field {
    position: relative;
    font-size: 14px;
    padding-top: 20px;
    margin-bottom: 5px;
}

.custom-field input {
    border: none;
    appearance: none;
    padding: 12px;
    border-radius: 3px;
    outline: none;
}

.custom-field input:focus {
    border: var(--maincolor);
}

.custom-field .placeholder {
    position: absolute;
    left: 12px;
    top: calc(50% + 10px);
    transform: translateY(-50%);
    transition:
        top 0.3s ease,
        font-size 0.3s ease,
        color 0.3s ease;
}

.custom-field .up {
    transform: translateY(-30%);
}


.contact-us_form_form .custom-field input {
    border: 1px solid #ced4da;
    border-radius: 60px;
}

.custom-field input:focus {
    border-color:var(--maincolor);
}

.custom-field .placeholder-up {
    top: 10px;
}



/* floating label end */

/* mini modal start */
.mini-modal {
    position: fixed;
    top: 30%;
    z-index: 3;
}

.mini-modal .container {
    width: 500px;
    height: 300px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border: var(--maincolor) solid 1px;
}

.mini-modal .message {
    position: absolute;
    top: 0;
    padding: 20px;
}

.mini-modal .button {
    position: absolute;
    right: 15px;
    top: 10px;
    border: none;
    border-radius: 10px;
}

.mini-modal .button:hover {
    background-color: var(--maincolor)
}
/* mini modal end */

/* pagination button start */

.pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.pagination__btn {
    border-radius: 5px;
    border-style: none;
    width: 40px;
    height: 40px;
    margin: 5px;
}

.pagination__btn:hover {
    background-color: var(--maincolor);
    border: 1px solid rgb(0, 0, 0);
}

.active-btn {
    background-color: var(--maincolor);
}

/* pagination button end */


.inventory-topbar {
    width: 100%;
    height: 90px;
    background-color: white;
    border-radius: 5px;
}

.inventory-topbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inventory-topbar-and-card-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.inventory-child-container_L {
    padding-left: 20px;
    font-size: 20px
}

.inventory-child-container_R {
    padding-right: 40px;
}

.inventory-child-container_R button {
    all: unset;
    background-color: var(--maincolor);
    width: 100%;
    border-radius: 5px;
    height: 50px;
    border: 1px solid black;
    color: white;
    font-size: 25px;
    text-decoration: none;

}

.inventory-child-container_R button:hover {
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: 2px solid var(--maincolor);
}

.inventory-child-container_R a {
    text-decoration: none;
}

/* contactUs.jsx */
.about-us_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-us_background_l {
    width: 1000px;
    height: 1000px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 8%;
}

.about-us_background_r {
    width: 1000px;
    height: 1000px;
    background-color: white;
    margin: 10px;
    border-radius: 10px;
    overflow-y: scroll;
}

.about-us_text {
    font-size: 20px;
    line-height: 40px;
}

.about-us-testimoniol-pfp {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.about-us-testimonial-pic-container {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5px;
}

.about-us-testimonial-container:hover .pfp {
    border: solid var(--maincolor) 2px;
}



.about-us-testimonial-name {
    font-size: 20px;
}



.about-us-testimonial-container {
    padding: 20px;
}

.about-us-headerpic {
    background-image: url('./assets/pexelsfinal.webp');
    width: 100%;
    height: 350px;
    background-size: cover;
    background-position: center 90%;
    background-repeat: no-repeat;
}

.nostyle:hover {
    color: var(--maincolor);
}

.pop-up-message {
    position: fixed;
    top: 43%;
    left: 23%;
    right: 23%;
    transform: translate(-50%, -50%);
    z-index: 999;
    background-color: rgba(128, 128, 128, 0.603);
    border-radius: 20px;
    animation-name: slide-down-message;
    animation-duration: 4s;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.pop-up-message img {
    width: 400px
}

.pop-up-message span {
    font-size: 40px;
    line-height: 40px;
    padding-left: 20px;
    padding-right: 20px;
}

.popup-center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.terms-and-conditions-container{
    width:100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.terms-and-conditions-background{   
    background-color: white;
    width:800px;
    padding:20px;
    margin:10px;
    border-radius: 15px;
}




@keyframes slide-down-message {
    from {
        transform: translateY(-100%)
    }

    to {
        transform: translateY(-50%);
    }
}


/* inventory start */
@media screen and (max-width: 1746px) {
    .container {
        justify-content: center;
        grid-template-columns: repeat(2, 1fr);
    }

    .card {
        max-width: 100%;
    }
}

@media screen and (max-width: 1342px) {
    #inventorySearch {
        display: none;
    }

    .card {
        max-width: 100%;
    }

}

@media screen and (max-width:900px) {
    .about-us_container {
        flex-direction: column;
    }

    .about-us_background_r {
        width: 100%;
    }

    .about-us_background_l {
        width: 100%;
        padding: 10px 0 40px 0;
    }

}


@media screen and (max-width: 768px) {
    .card {
        max-width: 350px;
    }

    .admin-dashboard__slideshow-container {
        width: 100%;
    }

    .container {
        justify-content: center;
    }

    .contact-us_bottom_section {
        flex-direction: column;
    }

    .contact-us_form_size {
        font-size: 25px;
    }

    .contact-us_form_textarea {
        font-size: 25px;
        padding: 20px 20px 0 20px
    }

    #nav-mobile {
        display: none
    }

    .mobiletab{
        display: block;
    }
    .app{
        overflow: hidden;
    }
    .link-container{
        padding: 0;
    }
    .link{
        line-height: 70px;
    }
}

@media screen and (max-width: 770px) {
    .contact-us_bottom_section {
        flex-direction: column;
        align-items: center;
    }

    .size {
        height: 1000px;
        width: 100%;
    }

    .center-container {
        flex-direction: column;
    }

    .picture-container {
        margin-right: 0;
    }

    .description-box {
        margin-right: 0;
    }

    .google-api {
        margin-right: 0;
    }

    .center-dup{
        flex-direction: column;
    }
    .contact-widget-bg{
        display:none
    }
    .car-info{
        width:100%;
    }
    
}

@media screen and (max-width:730px) {
    .container {
        justify-content: center;
        grid-template-columns: 1fr;
    }

    .card {
        max-width: 100%;
    }

    .admin-dashboard__slideshow-container {
        width: 100%;
    }

    .inventory-topbar-container {
        flex-direction: column;
        padding-bottom: 10px;
    }

    .inventory-child-container_R {
        padding: 0;
    }
}



/* inventory end */


/* header start */

@media screen and (max-width:683px) {
    .carlogo {
        height: 100px;
        width:267px;
    }
}

@media screen and (max-width:353px) {
    .carlogo {
        height: 100px;
        width:230px
    }

    .dealer-information {
        min-width: 100%;
    }
}


/* footer start */

@media screen and (max-width:1366px) {
    .footer {
        flex-direction: column;
        align-items: center;
        height: 100%
    }

    .footer-columns {
        flex-direction: column;
        align-items: center;
    }

    .footer-column {
        width: 100%;
        max-width: 450px;
        margin-bottom: 40px;
        align-items: center;
    }

    .rmi-form {
        width: 100%;
        max-width: 100%;
    }

    .hoo-ul {
        margin: 0 auto;
        max-width: 100%;
    }

    .contact-info_text {
        text-align: center;
    }

    .contact-info_flex {
        justify-content: center;
    }

}

@media screen and (max-width: 560px) {
    .rmi-form_grouped_fields {
        flex-direction: column;
    }

    .contact-us_form_group {
        flex-direction: column;
    }

    .contact-us_form_container {
        width: 100%;
    }

    .contact-us_form_form {
        padding-left: 0;
        padding-right:0;
    }

    .pop-up-message span {
        font-size: 27px;
        line-height: 25px;
    }

    .pop-up-message img {
        width: 200px
    }


}


/* footer end */

/* contact us page start */

@media screen and (max-width:1025px) {
    .contact-us_tops_section {
        flex-direction: column;
    }

    .contact-us_header {
        width: 100%
    }

    .peopletalkingif {
        border-radius: 50%;
        transform: translateX(-9px);
    }

    .popup-center {
        flex-direction: column;
    }

    .pop-up-message span {
        padding-top: 20px;
    }

    .btn-list button{
        width:200px;
    }
    .naanautowidget{
        font-size: 25px;
    }
    .naanautowidgetphone{
        font-size: 15px;
    }
    .naanautowidgetaddress{
        font-size: 15px;
    }


}



@media screen and (max-width:840px) {
    .addcar__flex-direction {
        flex-direction: column;
    }


}

@media screen and (max-width:403px) {
    .addcar__grid-container {
        grid-template-columns: 100%;
    }

    .custom-field input {
        width: 100%;
        box-sizing: border-box;
    }

    .addcar__desc-div textarea {
        width: 100%;
    }
}



@media  screen and (max-width:426px) {
    .picture-container{
        border-width: 3px;
        border-radius: 0 0 5px 5px;
    }
    .vehicle-info-top{
        font-size: 26px;
    }
    .log-in_form{
        width:300px;
    }
    .mini-modal .container{
        width:300px;
    }
    .picture-list{
        overflow-y: hidden;
        overflow-x: hidden;
        max-height: 100px;
        text-align: unset;
    }
    .img-wrapper{
        display: flex;
    }
}

@media screen and (min-width:426px) {
    .img-wrapper{
        width:100%
    }
}


@media screen and (max-width:375px){
    .address-and-phone{
        font-size: 20px;
    }
}

@media screen and (max-width:320px) {
    .pop-up-message span {
        font-size: 23px;
    }
    .address-and-phone{
        font-size: 15px;
    }
}




